.text-through {
  text-decoration: line-through;
  display: inline-block;
  padding: 2%;
  cursor: pointer;
}
.text {
  display: inline-block;
  padding: 2%;
}
.text:hover {
  text-decoration: line-through;

  cursor: pointer;
}

.text-through:hover {
  text-decoration: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.child {
  display: inline-block;
  margin: 2%;
  cursor: pointer;
}

.container {
  margin: 2%;
  border: solid 1px gray;
  border-radius: 10px;
  text-align: center;
  width: 15%;
  margin: auto;
}

.text-field {
  display: block;
  margin: auto;
  margin-top: 2%;
  width: 50%;
}

.button {
  width: 40%;
  height: 25px;
  background-color: cyan;
  border: none;
  border-radius: 5px;
  margin: 2%;
  cursor: pointer;
}

.todo {
  border-bottom: solid 1px grey;
}
